.fsdx-editor-popover {
  z-index: var(--fsdx-editor-z-popover);
  outline: none;
  transform-origin: var(--transform-origin);
  transition:
    transform 150ms cubic-bezier(0.16, 1, 0.3, 1),
    opacity 150ms cubic-bezier(0.16, 1, 0.3, 1);

  > * {
    max-height: var(--available-height);
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }

  &[data-side='top'],
  &[data-side='top-start'],
  &[data-side='top-end'] {
    &[data-starting-style] {
      transform: translateY(0.5rem) scale(0.95);
    }
    &[data-ending-style] {
      transform: translateY(0.5rem) scale(0.95);
    }
  }

  &[data-side='right'],
  &[data-side='right-start'],
  &[data-side='right-end'] {
    &[data-starting-style] {
      transform: translateX(-0.5rem) scale(0.95);
    }
    &[data-ending-style] {
      transform: translateX(-0.5rem) scale(0.95);
    }
  }

  &[data-side='bottom'],
  &[data-side='bottom-start'],
  &[data-side='bottom-end'] {
    &[data-starting-style] {
      transform: translateY(-0.5rem) scale(0.95);
    }
    &[data-ending-style] {
      transform: translateY(-0.5rem) scale(0.95);
    }
  }

  &[data-side='left'],
  &[data-side='left-start'],
  &[data-side='left-end'] {
    &[data-starting-style] {
      transform: translateX(0.5rem) scale(0.95);
    }
    &[data-ending-style] {
      transform: translateX(0.5rem) scale(0.95);
    }
  }
}
