.fsdx-editor-tooltip {
  z-index: var(--fsdx-editor-z-tooltip);
  overflow: hidden;
  border-radius: var(--fsdx-editor-radius-sm);
  background-color: var(--fsdx-editor-tooltip-bg);
  padding: var(--fsdx-editor-space-1_5) var(--fsdx-editor-space-2);
  font-size: var(--fsdx-editor-font-sm);
  font-weight: var(--fsdx-editor-font-weight-medium);
  color: var(--fsdx-editor-tooltip-text);
  box-shadow: var(--fsdx-editor-shadow-xs);
  text-align: center;

  kbd {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif;
    text-transform: capitalize;
    color: var(--fsdx-editor-tooltip-kbd);
  }
}
