.fsdx-editor-button {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  font-feature-settings:
    "salt" on,
    "cv01" on;
  line-height: 1.15;
  height: 2rem;
  min-width: 2rem;
  border: none;
  padding: 0.5rem;
  gap: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--fsdx-editor-radius-lg, 0.75rem);
  transition-property: background, color, opacity;
  transition-duration: var(--fsdx-editor-transition-duration-default);
  transition-timing-function: var(--fsdx-editor-transition-easing-default);

  // focus-visible
  &:focus-visible {
    outline: none;
  }

  &[data-highlighted="true"],
  &[data-focus-visible="true"] {
    background-color: var(--fsdx-editor-button-hover-bg-color);
    color: var(--fsdx-editor-button-hover-text-color);
    // outline: 2px solid var(--fsdx-editor-button-active-icon-color);
  }

  &[data-weight="small"] {
    width: 1.5rem;
    min-width: 1.5rem;
    padding-right: 0;
    padding-left: 0;
  }

  /* 按钮尺寸 - 大 */
  &[data-size="large"] {
    font-size: 0.9375rem;
    height: 2.375rem;
    min-width: 2.375rem;
    padding: 0.625rem;
  }

  /* 按钮尺寸 - 小 */
  &[data-size="small"] {
    font-size: 0.75rem;
    line-height: 1.2;
    height: 1.5rem;
    min-width: 1.5rem;
    padding: 0.3125rem;
    border-radius: var(--fsdx-editor-radius-md, 0.5rem);
  }

  /* 修剪 / 展开按钮文本 */
  .fsdx-editor-button-text {
    padding: 0 0.125rem;
    flex-grow: 1;
    text-align: left;
    line-height: 1.5rem;
  }

  .fsdx-editor-button-text-fixed {
    width: 4em;
  }

  &[data-text-trim="on"] {
    .fsdx-editor-button-text {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  /* 全局图标设置 */
  .fsdx-editor-button-icon,
  .fsdx-editor-button-icon-sub,
  .fsdx-editor-button-dropdown-arrows,
  .fsdx-editor-button-dropdown-small {
    flex-shrink: 0;
  }

  /* 标准图标，常规用法 */
  .fsdx-editor-button-icon {
    width: 1rem;
    height: 1rem;
  }

  &[data-size="large"] .fsdx-editor-button-icon {
    width: 1.125rem;
    height: 1.125rem;
  }

  &[data-size="small"] .fsdx-editor-button-icon {
    width: 0.875rem;
    height: 0.875rem;
  }

  /* 使用双图标时，此图标更低调 */
  .fsdx-editor-button-icon-sub {
    width: 1rem;
    height: 1rem;
  }

  &[data-size="large"] .fsdx-editor-button-icon-sub {
    width: 1.125rem;
    height: 1.125rem;
  }

  &[data-size="small"] .fsdx-editor-button-icon-sub {
    width: 0.875rem;
    height: 0.875rem;
  }

  /* 下拉菜单/箭头略小 */
  .fsdx-editor-button-dropdown-arrows {
    width: 0.75rem;
    height: 0.75rem;
  }

  &[data-size="large"] .fsdx-editor-button-dropdown-arrows {
    width: 0.875rem;
    height: 0.875rem;
  }

  &[data-size="small"] .fsdx-editor-button-dropdown-arrows {
    width: 0.625rem;
    height: 0.625rem;
  }

  /* 仅图标按钮的下拉菜单 */
  .fsdx-editor-button-dropdown-small {
    width: 0.625rem;
    height: 0.625rem;
  }

  &[data-size="large"] .fsdx-editor-button-dropdown-small {
    width: 0.75rem;
    height: 0.75rem;
  }

  &[data-size="small"] .fsdx-editor-button-dropdown-small {
    width: 0.5rem;
    height: 0.5rem;
  }

  /* 仅含图标的按钮 */
  &:has(> svg):not(:has(> :not(svg))) {
    gap: 0.125rem;

    &[data-size="large"],
    &[data-size="small"] {
      gap: 0.125rem;
    }
  }

  /* button only has 2 icons and one of them is dropdown small */
  &:has(> svg:nth-of-type(2)):has(> .fsdx-editor-button-dropdown-small):not(
      :has(> svg:nth-of-type(3))
    ):not(:has(> .fsdx-editor-button-text)) {
    gap: 0;
    padding-right: 0.25rem;

    &[data-size="large"] {
      padding-right: 0.375rem;
    }

    &[data-size="small"] {
      padding-right: 0.25rem;
    }
  }

  /* 按钮中使用 Emoji */
  .fsdx-editor-button-emoji {
    width: 1rem;
    display: flex;
    justify-content: center;
  }

  &[data-size="large"] .fsdx-editor-button-emoji {
    width: 1.125rem;
  }

  &[data-size="small"] .fsdx-editor-button-emoji {
    width: 0.875rem;
  }
}

/* --------------------------------------------
----------- 按钮颜色设置 -------------
-------------------------------------------- */

.fsdx-editor-button {
  background-color: var(--fsdx-editor-button-default-bg-color);
  color: var(--fsdx-editor-button-default-text-color);

  .fsdx-editor-button-icon {
    color: var(--fsdx-editor-button-default-icon-color);
  }

  .fsdx-editor-button-icon-sub {
    color: var(--fsdx-editor-button-default-icon-sub-color);
  }

  .fsdx-editor-button-dropdown-arrows {
    color: var(--fsdx-editor-button-default-dropdown-arrows-color);
  }

  .fsdx-editor-button-dropdown-small {
    color: var(--fsdx-editor-button-default-dropdown-arrows-color);
  }

  /* hover 状态 */
  &:hover:not([data-active-item="true"]):not([disabled]),
  &[data-active-item="true"]:not([disabled]),
  &[data-highlighted]:not([disabled]):not([data-highlighted="false"]) {
    background-color: var(--fsdx-editor-button-hover-bg-color);
    color: var(--fsdx-editor-button-hover-text-color);

    .fsdx-editor-button-icon {
      color: var(--fsdx-editor-button-hover-icon-color);
    }

    .fsdx-editor-button-icon-sub {
      color: var(--fsdx-editor-button-hover-icon-sub-color);
    }

    .fsdx-editor-button-dropdown-arrows,
    .fsdx-editor-button-dropdown-small {
      color: var(--fsdx-editor-button-hover-dropdown-arrows-color);
    }
  }

  /* Active 状态 */
  &[data-active-state="on"]:not([disabled]),
  &[data-state="open"]:not([disabled]) {
    background-color: var(--fsdx-editor-button-active-bg-color);
    color: var(--fsdx-editor-button-active-text-color);

    .fsdx-editor-button-icon {
      color: var(--fsdx-editor-button-active-icon-color);
    }

    .fsdx-editor-button-icon-sub {
      color: var(--fsdx-editor-button-active-icon-sub-color);
    }

    .fsdx-editor-button-dropdown-arrows,
    .fsdx-editor-button-dropdown-small {
      color: var(--fsdx-editor-button-active-dropdown-arrows-color);
    }

    &:hover {
      background-color: var(--fsdx-editor-button-active-hover-bg-color);
    }

    /* 强调 */
    &[data-appearance="emphasized"] {
      background-color: var(--fsdx-editor-button-active-bg-color-emphasized);
      color: var(--fsdx-editor-button-active-text-color-emphasized);

      .fsdx-editor-button-icon {
        color: var(--fsdx-editor-button-active-icon-color-emphasized);
      }

      .fsdx-editor-button-icon-sub {
        color: var(--fsdx-editor-button-active-icon-sub-color-emphasized);
      }

      .fsdx-editor-button-dropdown-arrows,
      .fsdx-editor-button-dropdown-small {
        color: var(--fsdx-editor-button-active-dropdown-arrows-color-emphasized);
      }

      &:hover {
        background-color: var(--fsdx-editor-button-active-hover-bg-color-emphasized);
      }
    }

    /* 弱化 */
    &[data-appearance="subdued"] {
      background-color: var(--fsdx-editor-button-active-bg-color-subdued);
      color: var(--fsdx-editor-button-active-text-color-subdued);

      .fsdx-editor-button-icon {
        color: var(--fsdx-editor-button-active-icon-color-subdued);
      }

      .fsdx-editor-button-icon-sub {
        color: var(--fsdx-editor-button-active-icon-sub-color-subdued);
      }

      .fsdx-editor-button-dropdown-arrows,
      .fsdx-editor-button-dropdown-small {
        color: var(--fsdx-editor-button-active-dropdown-arrows-color-subdued);
      }

      &:hover {
        background-color: var(--fsdx-editor-button-active-hover-bg-color-subdued);

        .fsdx-editor-button-icon {
          color: var(--fsdx-editor-button-active-icon-color-subdued);
        }
      }
    }
  }

  &:disabled {
    background-color: var(--fsdx-editor-button-disabled-bg-color);
    color: var(--fsdx-editor-button-disabled-text-color);

    .fsdx-editor-button-icon {
      color: var(--fsdx-editor-button-disabled-icon-color);
    }
  }
}
