.fsdx-editor-wrapper .tiptap.ProseMirror {
  code {
    background-color: var(--fsdx-editor-content-code-bg);
    color: var(--fsdx-editor-content-code-text);
    border: 1px solid var(--fsdx-editor-border-default);
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.875em;
    line-height: var(--fsdx-editor-line-lg);
    border-radius: var(--fsdx-editor-radius-xs);
    padding: 0.1em 0.2em;
  }

  pre {
    background-color: var(--fsdx-editor-content-code-bg);
    color: var(--fsdx-editor-content-code-text);
    border: 1px solid var(--fsdx-editor-border-default);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: var(--fsdx-editor-font-lg);
    border-radius: var(--fsdx-editor-radius-sm);

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }
  }
}
