.fsdx-editor-badge {
  font-size: var(--fsdx-editor-font-xs);
  font-weight: var(--fsdx-editor-font-weight-bold);
  font-feature-settings: "salt" on, "cv01" on;
  line-height: var(--fsdx-editor-line-sm);
  height: 1.25rem;
  min-width: 1.25rem;
  padding: var(--fsdx-editor-space-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--fsdx-editor-badge-border);
  border-radius: var(--fsdx-editor-radius-sm);
  background-color: var(--fsdx-editor-badge-bg);
  color: var(--fsdx-editor-badge-text);

  &[data-size="large"] { font-size: var(--fsdx-editor-font-sm); height: 1.5rem; min-width: 1.5rem; padding: var(--fsdx-editor-space-1_5); }
  &[data-size="small"] { height: 1rem; min-width: 1rem; padding: var(--fsdx-editor-space-0_5); }

  .fsdx-editor-badge-text { padding: 0 var(--fsdx-editor-space-0_5); flex-grow: 1; text-align: left; }
  &[data-text-trim="on"] .fsdx-editor-badge-text { text-overflow: ellipsis; overflow: hidden; }

  .fsdx-editor-badge-icon { pointer-events: none; flex-shrink: 0; width: 0.625rem; height: 0.625rem; color: var(--fsdx-editor-badge-icon); }
  &[data-size="large"] .fsdx-editor-badge-icon { width: 0.75rem; height: 0.75rem; }

  /* Emphasized */
  &[data-appearance="emphasized"] {
    border-color: var(--fsdx-editor-badge-emphasized-border);
    color: var(--fsdx-editor-badge-emphasized-text);

    .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-emphasized-icon); }
  }

  /* Subdued */
  &[data-appearance="subdued"] {
    color: var(--fsdx-editor-badge-subdued-text);

    .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-subdued-icon); }
  }

  /* Ghost */
  &[data-style="ghost"] { background-color: var(--fsdx-editor-transparent); }

  /* Gray */
  &[data-style="gray"] {
    background-color: var(--fsdx-editor-badge-gray-bg);
    &[data-appearance="emphasized"] {
      background-color: var(--fsdx-editor-badge-gray-emphasized-bg);
      color: var(--fsdx-editor-badge-gray-emphasized-text);

      .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-gray-emphasized-text); }
    }
  }

  /* Green */
  &[data-style="green"] {
    background-color: var(--fsdx-editor-badge-green-bg);
    border-color: var(--fsdx-editor-badge-green-border);
    color: var(--fsdx-editor-badge-green-text);

    .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-green-icon); }

    &[data-appearance="emphasized"] {
      background-color: var(--fsdx-editor-badge-green-emphasized-bg);
      color: #fff;

      .fsdx-editor-badge-icon { color: #fff; }
    }
  }

  /* Yellow */
  &[data-style="yellow"] {
    background-color: var(--fsdx-editor-badge-yellow-bg);
    border-color: var(--fsdx-editor-badge-yellow-border);
    color: var(--fsdx-editor-badge-yellow-text);

    .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-yellow-icon); }

    &[data-appearance="emphasized"] {
      background-color: var(--fsdx-editor-yellow);
      color: #713f12;

      .fsdx-editor-badge-icon { color: #713f12; }
    }
  }

  /* Red */
  &[data-style="red"] {
    background-color: var(--fsdx-editor-badge-red-bg);
    border-color: var(--fsdx-editor-badge-red-border);
    color: var(--fsdx-editor-badge-red-text);

    .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-red-icon); }

    &[data-appearance="emphasized"] {
      background-color: var(--fsdx-editor-destructive);
      color: #fff;

      .fsdx-editor-badge-icon { color: #fff; }
    }
  }

  /* Brand */
  &[data-style="brand"] {
    background-color: var(--fsdx-editor-badge-brand-bg);
    border-color: var(--fsdx-editor-badge-brand-border);
    color: var(--fsdx-editor-badge-brand-text);

    .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-brand-icon); }

    &[data-appearance="emphasized"] {
      background-color: var(--fsdx-editor-brand-500);
      color: var(--fsdx-editor-badge-brand-emphasized-text);

      .fsdx-editor-badge-icon { color: var(--fsdx-editor-badge-brand-emphasized-text); }
    }
  }
}
