.fsdx-editor-badge-group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--fsdx-editor-space-1);

  [data-orientation="vertical"] {
    flex-direction: column;
  }

  [data-orientation="horizontal"] {
    flex-direction: row;
  }
}
