.fsdx-editor-input {
  width: 100%;
  min-width: 0;
  height: 2rem;
  padding: var(--fsdx-editor-space-1) var(--fsdx-editor-space-2_5);
  border-radius: var(--fsdx-editor-radius-sm);
  border: 1px solid var(--fsdx-editor-input-border);
  background: transparent;
  font-size: var(--fsdx-editor-font-lg);
  outline: none;
  transition:
    color,
    background-color,
    border-color 150ms;

  &::placeholder {
    color: var(--fsdx-editor-input-placeholder);
  }
}

.fsdx-editor-input:focus-visible {
  border-color: var(--fsdx-editor-border-focus);
}

@media (min-width: 768px) {
  .fsdx-editor-input {
    font-size: var(--fsdx-editor-font-md);
  }
}
