@use '../styles/variables';
@use '../styles/keyframe-animations';

.fsdx-editor-wrapper {
  --fsdx-editor-theme-text: var(--fsdx-editor-gray-light-900);

  &.fsdx-editor-dark {
    --fsdx-editor-theme-text: var(--fsdx-editor-gray-dark-900);
  }
}

.fsdx-editor-wrapper .tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
  color: var(--fsdx-editor-theme-text);
}

.fsdx-editor-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--fsdx-editor-bg-color);

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--fsdx-editor-scrollbar-color) transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--fsdx-editor-scrollbar-color);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.fsdx-editor-content {
  flex: 1;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fsdx-editor-content .tiptap.ProseMirror.editor {
  flex: 1;
  padding: 15px;
}

.fsdx-editor-content > * {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

@media screen and (max-width: 480px) {
  .fsdx-editor-content .tiptap.ProseMirror.editor {
    padding: 1rem 1.5rem 30vh;
  }
}
