.fsdx-editor-separator {
  --fsdx-editor-link-border-color: var(--fsdx-editor-gray-light-a-200);

  .fsdx-editor-dark & {
    --fsdx-editor-link-border-color: var(--fsdx-editor-gray-dark-a-200);
  }
}

.fsdx-editor-separator {
  flex-shrink: 0;
  background-color: var(--fsdx-editor-link-border-color);

  &[data-orientation="horizontal"] {
    height: 1px;
    width: 100%;
    margin: 0.5rem 0;
  }

  &[data-orientation="vertical"] {
    height: 1.5rem;
    width: 1px;
  }
}
