.fsdx-editor-card {
  border-radius: calc(var(--fsdx-editor-space-1_5) + var(--fsdx-editor-radius-md));
  box-shadow: var(--fsdx-editor-shadow-md);
  background-color: var(--fsdx-editor-card-bg);
  border: 1px solid var(--fsdx-editor-card-border);
  display: flex;
  flex-direction: column;
  outline: none;
  align-items: center;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

.fsdx-editor-card-header {
  padding: var(--fsdx-editor-space-1_5);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--fsdx-editor-card-border);
}

.fsdx-editor-card-body {
  padding: var(--fsdx-editor-space-1_5);
  flex: 1 1 auto;
  overflow-y: auto;
}

.fsdx-editor-card-item-group {
  position: relative;
  display: flex;
  vertical-align: middle;
  min-width: max-content;

  &[data-orientation="vertical"] {
    flex-direction: column;
    justify-content: center;
  }

  &[data-orientation="horizontal"] {
    gap: var(--fsdx-editor-space-1);
    flex-direction: row;
    align-items: center;
  }
}

.fsdx-editor-card-group-label {
  padding: var(--fsdx-editor-space-3) var(--fsdx-editor-space-2) var(--fsdx-editor-space-1);
  font-size: var(--fsdx-editor-font-sm);
  font-weight: var(--fsdx-editor-font-weight-semibold);
  line-height: normal;
  text-transform: capitalize;
  color: var(--fsdx-editor-text-muted);
}
